<robot name="E1">

  <!-- <mujoco>
    <compiler meshdir="./meshes" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world"/>
    <child link="pelvis"/>
  </joint> -->

  <link name="pelvis">
    <inertial>
      <origin xyz="-1.83413794531939E-07 2.98943988592675E-07 0.0134170656558657" rpy="0 0 0" />
      <mass value="2.73" />
      <inertia ixx="0.00792451" ixy="-0.00000201" ixz="0.00022435" iyy="0.00661284" iyz="0.00000816" izz="0.00695262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.11 0.11 0.08" />
      </geometry>
    </collision> -->
  </link>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.00029538 0.03084445 -0.00578934" rpy="0 0 0" />
      <mass value="0.145" />
      <inertia ixx="0.00011256" ixy="0.00002214" ixz="-0.00000468" iyy="0.00005128" iyz="-0.00002099" izz="0.00010702" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0575 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.8" upper="1.57" effort="36" velocity="50.265" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="-0.00147244 0.00041537 -0.03721449" rpy="0 0 0" />
      <mass value="1.39" />
      <inertia ixx="0.002567" ixy="0.00001559" ixz="-0.00006696" iyy="0.00235625" iyz="0.00000301" izz="0.00145182" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.05" length="0.09" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0 0.0575 -0.015" rpy="0 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745" upper="1.57" effort="60" velocity="20.42" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="0.00070152 0.00025365 -0.08614663" rpy="0 0 0" />
      <mass value="2.32" />
      <inertia ixx="0.01611989" ixy="-0.00000019" ixz="-0.00028259" iyy="0.01646544" iyz="0.00024296" izz="0.00278263" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.085" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.2" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.098" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.0" upper="1.0" effort="36" velocity="50.265" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.00414084 -0.00040825 -0.13326938" rpy="0 0 0" />
      <mass value="0.785" />
      <inertia ixx="0.01156593" ixy="0.00000094" ixz="-0.00002291" iyy="0.01158947" iyz="0.00008706" izz="0.00032382" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.008 0 -0.165" rpy="0 0.04 0" />
      <geometry>
        <cylinder radius="0.045" length="0.23" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 0 -0.222" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="2.4435" effort="60" velocity="30.16" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.01426716 -0.00101925 -0.04298429" rpy="0 0 0" />
      <mass value="0.597" />
      <inertia ixx="0.00065314" ixy="-0.00001099" ixz="0.00013946" iyy="0.00072568" iyz="-0.00003869" izz="0.00044755" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.32" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.35" effort="36" velocity="50.265" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.01152056 0 -0.02947055" rpy="0 0 0" />
      <mass value="0.294" />
      <inertia ixx="0.0001508" ixy="0" ixz="-0.00002398" iyy="0.00074194" iyz="0" izz="0.00079391" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.02 0 -0.027" rpy="0 0 0" />
      <geometry>
        <box size="0.18 0.07 0.025" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.06" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.44" upper="0.44" effort="14" velocity="32.99" />
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.00029538 -0.03084445 -0.00578934" rpy="0 0 0" />
      <mass value="0.145" />
      <inertia ixx="0.00011256" ixy="-0.00002214" ixz="-0.00000468" iyy="0.00005128" iyz="0.00002099" izz="0.00010702" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0575 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.8" upper="1.57" effort="36" velocity="50.265" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.00147237 -0.00041532 -0.03721455" rpy="0 0 0" />
      <mass value="1.39" />
      <inertia ixx="0.00256699" ixy="-0.00001559" ixz="-0.00006696" iyy="0.00235625" iyz="-0.00000302" izz="0.00145182" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.05" length="0.09" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0 -0.0575 -0.015" rpy="0 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.57" upper="0.1745" effort="60" velocity="20.42" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="0.00070152 -0.00025365 -0.08614688" rpy="0 0 0" />
      <mass value="2.32" />
      <inertia ixx="0.01611990" ixy="0.00000018" ixz="-0.00028259" iyy="0.01646544" iyz="-0.00024296" izz="0.00278262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.085" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.2" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.098" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.0" upper="1.0" effort="36" velocity="50.265" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.00414085 0.00040825 -0.13326949" rpy="0 0 0" />
      <mass value="0.785" />
      <inertia ixx="0.01156594" ixy="-0.00000094" ixz="-0.00002291" iyy="0.01158948" iyz="-0.00008706" izz="0.00032382" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.008 0 -0.165" rpy="0 0.04 0" />
      <geometry>
        <cylinder radius="0.045" length="0.23" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 0 -0.222" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="2.4435" effort="60" velocity="30.16" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.01426715 0.00101913 -0.0429843" rpy="0 0 0" />
      <mass value="0.597" />
      <inertia ixx="0.00065314" ixy="0.00001099" ixz="0.00013946" iyy="0.00072569" iyz="0.00003869" izz="0.00044755" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.32" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.35" effort="36" velocity="50.265" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.01152056 0 -0.02947055" rpy="0 0 0" />
      <mass value="0.294" />
      <inertia ixx="0.0001508" ixy="0" ixz="-0.00002398" iyy="0.00074194" iyz="0" izz="0.00079391" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.02 0 -0.027" rpy="0 0 0" />
      <geometry>
        <box size="0.18 0.07 0.025" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.06" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.44" upper="0.44" effort="14" velocity="32.99" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.000953250891786016 4.48463714895152E-06 0.1267079838967867" rpy="0 0 0" />
      <mass value="6.5" />
      <inertia ixx="0.05533478" ixy="0.00020066" ixz="0.00006865" iyy="0.04385891" iyz="0.00036014" izz="0.0199517" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.419607843137255 0.419607843137255 0.419607843137255 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.13" rpy="0 0 0" />
      <geometry>
        <box size="0.16 0.16 0.30" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.111" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="torso_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="60" velocity="20.42" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.0029314 0.04236878 0.00000234" rpy="0 0 0" />
      <mass value="0.86" />
      <inertia ixx="0.00102909" ixy="-0.00002678" ixz="-0.00000002" iyy="0.00061621" iyz="-0.00000002" izz="0.00086617" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.419607843137255 0.419607843137255 0.419607843137255 1" />
      </material>
    </visual>
  </link>
  <joint name="left_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 0.095 0.239" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.7925" effort="36" velocity="10.47" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00078196 -0.00016662 -0.02897185" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.00006297" ixy="0.00000007" ixz="0.0000124" iyy="0.00006244" iyz="0.0000002" izz="0.00002735" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.044" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="fixed">
    <origin xyz="0 0.055 0" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745" upper="2.9671" effort="36" velocity="10.47" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00317011 -0.0005976 -0.07021454" rpy="0 0 0" />
      <mass value="1.55" />
      <inertia ixx="0.00649411" ixy="0.00005943" ixz="0.00025794" iyy="0.00640237" iyz="-0.00001492" izz="0.0014487" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.09" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="fixed">
    <origin xyz="0 0 -0.051" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="14" velocity="27.28" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.08296731 -0.00030352 -0.00120015" rpy="0 0 0" />
      <mass value="0.51" />
      <inertia ixx="0.00044171" ixy="0.00001498" ixz="0.0000316" iyy="0.0006862" iyz="-0.00000023" izz="0.00080540" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.09 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.045" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="fixed">
    <origin xyz="0 0 -0.159" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6981" upper="1.5708" effort="28" velocity="27.28" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.05840973 -0.00030711 -0.00006564" rpy="0 0 0" />
      <mass value="0.38" />
      <inertia ixx="0.00024702" ixy="0.00000162" ixz="-0.00000048" iyy="0.00027052" iyz="-0.00000287" izz="0.00035336" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
  </link>
  <joint name="left_wrist_roll_joint" type="fixed">
    <origin xyz="0.125 0 0" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.1817" upper="2.1817" effort="36" velocity="10.47" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.06200956 -0.00270472 0.00081678" rpy="0 0 0" />
      <mass value="0.005" />
      <inertia ixx="0.0001926" ixy="0.00001188" ixz="-0.00002839" iyy="0.00022487" iyz="-0.00000555" izz="0.00022890" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.419607843137255 0.419607843137255 0.419607843137255 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.07 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.038" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_pitch_joint" type="fixed">
    <origin xyz="0.035 0 0" rpy="0 0 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6109" upper="0.6109" effort="14" velocity="27.28" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="-2.77555756156289E-17 7.38853422888042E-14 7.99638133486269E-14" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="1.58560821923607E-05" ixy="3.59737400518439E-25" ixz="1.90545782846007E-21" iyy="1.58560821923607E-05" iyz="-1.49030555787401E-21" izz="2.5958497404233E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
  </link>
  <joint name="left_wrist_yaw_joint" type="fixed">
    <origin xyz="0.07 0 0" rpy="0 0 0" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="14" velocity="27.28" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.0029314 -0.04236878 -0.00000234" rpy="0 0 0" />
      <mass value="0.86" />
      <inertia ixx="0.00102909" ixy="0.00002678" ixz="0.00000002" iyy="0.00061621" iyz="-0.00000002" izz="0.00086617" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.419607843137255 0.419607843137255 0.419607843137255 1" />
      </material>
    </visual>
  </link>
  <joint name="right_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 -0.095 0.239" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.7925" effort="36" velocity="10.47" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00078196 0 -0.02897233" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.00006297" ixy="0" ixz="0.00001240" iyy="0.00006245" iyz="0" izz="0.00002735" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.044" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="fixed">
    <origin xyz="0 -0.055 0" rpy="0 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.9671" upper="0.1745" effort="36" velocity="10.47" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00317012 0.00059760 -0.07021462" rpy="0 0 0" />
      <mass value="1.55" />
      <inertia ixx="0.00649412" ixy="-0.00005943" ixz="0.00025794" iyy="0.00640237" iyz="0.00001492" izz="0.00144870" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.09" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="fixed">
    <origin xyz="0 0 -0.051" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="14" velocity="27.28" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.08296729 0.00030351 -0.00120015" rpy="0 0 0" />
      <mass value="0.51" />
      <inertia ixx="0.00044171" ixy="-0.00001498" ixz="0.0000316" iyy="0.0006862" iyz="0.00000023" izz="0.0008054" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.09 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.045" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="fixed">
    <origin xyz="0 0 -0.159" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6981" upper="1.5708" effort="36" velocity="10.47" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.05840973 0.00030712 -0.00006564" rpy="0 0 0" />
      <mass value="0.38" />
      <inertia ixx="0.00024703" ixy="-0.00000162" ixz="-0.00000048" iyy="0.00027052" iyz="0.00000287" izz="0.00035335" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
  </link>
  <joint name="right_wrist_roll_joint" type="fixed">
    <origin xyz="0.125 0 0" rpy="0 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.1817" upper="2.1817" effort="14" velocity="27.28" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.06200959 0.00270479 0.00081679" rpy="0 0 0" />
      <mass value="0.005" />
      <inertia ixx="0.00019260" ixy="-0.00001188" ixz="-0.00002839" iyy="0.00022487" iyz="0.00000555" izz="0.00022890" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.419607843137255 0.419607843137255 0.419607843137255 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.07 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.038" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_pitch_joint" type="fixed">
    <origin xyz="0.035 0 0" rpy="0 0 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6109" upper="0.6109" effort="14" velocity="27.28" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="-2.77555756156289E-17 7.38298311375729E-14 7.99360577730113E-14" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="1.58560821923608E-05" ixy="1.50463276905253E-35" ixz="1.9053137318976E-21" iyy="1.58560821923608E-05" iyz="-1.78269439098819E-21" izz="2.5958497404233E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 0.3" />
      </material>
    </visual>
  </link>
  <joint name="right_wrist_yaw_joint" type="fixed">
    <origin xyz="0.07 0 0" rpy="0 0 0" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="14" velocity="27.28" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="-0.00835 -2.3792E-16 0.054887" rpy="0 0 0" />
      <mass value="0.4" />
      <inertia ixx="0.00025398" ixy="8.4566E-19" ixz="1.8686E-05" iyy="0.00022478" iyz="-1.1903E-18" izz="0.00011678" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.41961 0.41961 0.41961 1" />
      </material>
    </visual>
  </link>
  <joint name="head_pitch_joint" type="fixed">
    <origin xyz="0 0 0.304" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.7854" upper="1.5708" effort="14" velocity="27.28" />
  </joint>
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="0.024424 -1.0139E-06 0.020575" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.0026181" ixy="1.1871E-07" ixz="0.00067224" iyy="0.003462" iyz="-1.0546E-08" izz="0.0028155" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.41961 0.41961 0.41961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.02 0 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.10 0.13 0.12" />
      </geometry>
    </collision>
  </link>
  <joint name="head_yaw_joint" type="fixed">
    <origin xyz="-0.01 0 0.095" rpy="0 0 0" />
    <parent link="head_pitch_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1415" upper="3.1415" effort="14" velocity="27.28" />
  </joint>
</robot>